{% extends "base.html" %}
{% block title %}Parents Only{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="alert alert-dismissable alert-success">
      <b>Apenas os pais podem votar! Se contente em ver o ranking!</b>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <i class="fa fa-5x fa-fw text-success fa-child"></i>
    <div class="row text-center">
      <div class="col-md-12 text-left">
        <h4 class="text-left" id="ranking">Ranking</h4>
        {% include "ranking.html" %}
      </div>
    </div>                   
  </div>
</div>
{% endblock %}
            